@model BookStore.Utilities.Models.ShoppingCartListDto


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Cart Items</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Author</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CartItems)
                        {
                            <tr>
                                <td>@item.Author</td>
                                <td>@item.Title</td>
                                <td>@item.Price</td>
                                <td>@item.Quantity</td>
                                <td></td>
                                <td><a class="btn btn-danger" id="btnRemoveCart" data-id="@item.RecordId">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <td id="cart-total">
                                @Model.CartTotal
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->