@model BookStore.Utilities.Models.BookViewModel
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
@{
    
    ViewBag.Title = "Create Book";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    @Html.ValidationSummary()
    <div class="create-book">
        <div class="form-group">
            <label for="title">Title</label>
           @Html.TextBoxFor(model => model.Title, new {@class="form-control", style="width:300px", placeholder = "Title" })
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            @Html.TextBoxFor(model => model.Author, new { @class = "form-control", style = "width:300px", placeholder = "Author" })
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            @Html.TextBoxFor(model => model.Price, new { @class = "form-control", style = "width:300px", placeholder = "Price" })
        </div>
        <div class="checkbox">
            <label for="reorder">
                @Html.CheckBoxFor(model => model.Reorder, new {type = "checkbox", style = "width:300px", placeholder = "Reorder" })
                Reorder
            </label>
        </div>
        <div class="form-group">
            <label for="reorderamount">Reorder Amount</label>
            @Html.TextBoxFor(model => model.ReorderAmount, new { @class = "form-control", style = "width:300px", placeholder = "Reorder Amount" })
        </div>
        <div class="form-group">
            <label for="numofstocks">Number Of Stocks</label>
            @Html.TextBoxFor(model => model.NumOfStocks, new { @class = "form-control", style = "width:300px", placeholder = "Number Of Stocks" })
        </div>
        <div class="form-group">
            <label for="Image">Image</label>
            <input type="file" name="file" />
        </div>
        <input style="width:100px" class="btn btn-primary" type="submit" value="Save" />
    </div>
}

<script>    
    $(function () {
        var fr = new FileReader();
        $("#Image").on("change", function () {
            var files = $(this).files;
            if (FileReader && files && files.length) {
                fr.readAsArrayBuffer(files[0]);
                fr.onload = function () {
                    var imageData = fr.result;
                };
                }
            });
        });
</script>


