@using PagedList;
@using PagedList.Mvc;

@model IPagedList<BookStore.Utilities.Models.BookViewModel>

<link href="~/Content/custom.min.css" rel="stylesheet">

<section class="content-header">
    <h1>
        Page Header
        <small>Optional description</small>
    </h1>
    <div class="cart-icon">
        <strong>1</strong>
        <span class="cart-icon-handle"></span>
    </div>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <ul class="pagination pagination-split">
                            <li><a href="#">A</a></li>
                            <li><a href="#">B</a></li>
                            <li><a href="#">C</a></li>
                            <li><a href="#">D</a></li>
                            <li><a href="#">E</a></li>
                            <li>...</li>
                            <li><a href="#">W</a></li>
                            <li><a href="#">X</a></li>
                            <li><a href="#">Y</a></li>
                            <li><a href="#">Z</a></li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>

                    @foreach (var item in @Model)
                    {


                    <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                            <div class="col-sm-12">
                                <h4 class="brief"><i>@item.Title</i></h4>
                                <div class="left col-xs-7">
                                    <h2>@item.Author</h2>
                                    @*<p><strong>About: </strong> Web Designer / UX / Graphic Artist / Coffee Lover </p>*@
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-money"></i> @item.Price </li>
                                        <li><i class="fa fa-money"></i> @item.NumOfStocks </li>
                                    </ul>
                                </div>
                                <div class="right col-xs-5 text-center">
                                    
                                    @{string imgUrl = "data:image/jpeg;base64,";
                                        imgUrl += string.IsNullOrEmpty(@item.ImageBase64) ? "" : @item.ImageBase64;
                                    }

                                    <img src="@imgUrl" alt="" class="img-circle img-responsive">
                                </div>
                            </div>
                            <div class="col-xs-12 bottom text-center">
                                <div class="col-xs-12 col-sm-6 emphasis">
                                    <p class="ratings">
                                        <a>4.0</a>
                                        <a href="#"><span class="ratingStar fa fa-star"></span></a>
                                        <a href="#"><span class="ratingStar fa fa-star"></span></a>
                                        <a href="#"><span class="ratingStar fa fa-star"></span></a>
                                        <a href="#"><span class="ratingStar fa fa-star"></span></a>
                                        <a href="#"><span class="ratingStar fa fa-star-o"></span></a>
                                    </p>
                                </div>
                                <div class="col-xs-12 col-sm-6 emphasis">
                                    <button type="button" class="btn btn-success btn-xs">
                                        <i class="fa fa-user">
                                        </i> <i class="fa fa-comments-o"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-xs">
                                        <i class="fa fa-user"> </i> View Details
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<div class="div-pagination">
    @Html.PagedListPager(Model, page => Url.Action("Home", new { page = page }))
</div>